<!--Use 'stepCode' as id attribute-->
<li data-bind="fadeVisible: isVisible, attr: { id: prop65 }">
<div class="step-title" data-bind="i18n: stepTitle" data-role="title"></div>
    <div id="checkout-step-title"
		class="step-content"
		data-role="content">
		<p><?php echo $this->scopeConfig->getValue('productattributecheckout/general/show_message', \Magento\Store\Model\ScopeInterface::SCOPE_STORE); ?></p>
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <div class="actions-toolbar">
                <div class="primary">
					<a href="/checkout/cart" class="button action continue primary">
						<span><!-- ko i18n: 'No'--><!-- /ko --></span>
					</a>
                    <button data-role="opc-continue" type="submit" class="button action continue primary">
                        <span><!-- ko i18n: 'Yes'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>